body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2d2d2d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 68px;
  background-color: #f8f8f8;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 600; /* Changed semibold to 600 */
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 68px;
  background-color: #e0e0e0;
  height: 450px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 20px;
  font-weight: 600; /* Changed semibold to 600 */
}

.hero-text h2 {
  font-size: 30px;
  font-weight: 600; /* Changed semibold to 600 */
}

.hero-text p {
  font-size: 17px;
}

.hero-text button {
  padding: 12px 64px;
  background-color: #2d2d2d;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 68px;
}

.projects {
  margin-top: 50px;
}

.projects h2 {
  font-size: 32px;
  font-weight: 600; /* Changed semibold to 600 */
  margin-bottom: 40px;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 30%;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.project-image:hover {
  transform: scale(1.08); /* Enlarge project on hover */
}

.project-image img {
  width: 80%;
  height: 60%;
  transition: transform 0.3s ease; /* Add transition for smooth enlargement */
}

.project-info {
  max-width: 100%;
}

.project-info h3 {
  font-size: 20px;
  font-weight: 600; /* Changed semibold to 600 */
}

.project-info p {
  font-size: 17px;
}

footer {
  text-align: center;
  padding: 20px 68px;
  background-color: #f8f8f8;
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
    padding: 34px;
  }

  .hero-text {
    max-width: 100%;
  }

  .projects-container {
    flex-direction: column;
  }

  .project {
    max-width: 100%;
  }
}


  .project {
    max-width: 100%;
  }
}
